## Lists

In [1]:
#Sequence DS, Collection of items, enclosed in [],items in list have index value and seperated by a comma, lists are mutable

## List creation

In [2]:
emptylist = []

In [3]:
l1 = [1,2,3,4] #int

In [4]:
l2 = ['deqw','wcfwefc'] #str

In [5]:
l3 = [[1,2],[3,4]] #Lists of list

In [6]:
l4 = ['dfwfr',1,[123,134],2.34] #List of different data types

In [7]:
print(len(l4))
#len is a function

4

In [8]:
l4.append('Hello')

In [9]:
print(l4)

['dfwfr', 1, [123, 134], 2.34, 'Hello']

In [10]:
l4.insert(2,'whjxsvwjhx')
#first arg is location 2nd arg is value

In [11]:
print(l4)

['dfwfr', 1, 'whjxsvwjhx', [123, 134], 2.34, 'Hello']

In [12]:
l4.remove(1)
#Removes first occurance of 1

In [13]:
print(l4)

['dfwfr', 'whjxsvwjhx', [123, 134], 2.34, 'Hello']

In [14]:
print(l1)
print(l2)

[1, 2, 3, 4]
['deqw', 'wcfwefc']

In [15]:
#append
l1.append(l2)
#Appends just add the whole 2nd list as a single list element

In [16]:
print(l1)

[1, 2, 3, 4, ['deqw', 'wcfwefc']]

In [18]:
l1 = [1,2,3,4] #int
l2 = ['deqw','wcfwefc'] #str
#extend
l1.extend(l2)
#seperates each element in the list 2 and add them as a seperate element
print(l1)

[1, 2, 3, 4, 'deqw', 'wcfwefc']

In [19]:
#we commonly use extend more than append

In [22]:
l = ['hi','hello','vanakkam','success','qwerty']
print('l = ',l)
del l[0]
#Deleting based on index
print('l = ',l)
#Using pop()

a = l.pop()
print('a = ',a)
print('l = ',l)

l =  ['hi', 'hello', 'vanakkam', 'success', 'qwerty']
l =  ['hello', 'vanakkam', 'success', 'qwerty']
a =  qwerty
l =  ['hello', 'vanakkam', 'success']

## List related keywords in Python

In [24]:
l = ['hi','hello','success']
if 'hi' in l:
    print('hi is in list')
if 'i' not in l:
    print('i is not in list')

hi is in list
i is not in list

In [26]:
print(l)
l.reverse()
print(l)

['hi', 'hello', 'success']
['success', 'hello', 'hi']

# Sorting

In [29]:
l = [6,234,45,34,76,7945,45,3,123,76,890,9]
sorted_l = sorted(l)
#creates a sorted copy of the given list

In [30]:
print('Original list: ',l)
print('Sorted list: ',sorted_l)

Original list:  [6, 234, 45, 34, 76, 7945, 45, 3, 123, 76, 890, 9]
Sorted list:  [3, 6, 9, 34, 45, 45, 76, 76, 123, 234, 890, 7945]

In [32]:
sorted_descending = sorted(l,reverse=True)
print('Descending list: ',sorted_descending)

Descending list:  [7945, 890, 234, 123, 76, 76, 45, 45, 34, 9, 6, 3]

In [34]:
l.sort()
#.sort() sorts the list and saves it in the same variable
print(l)

[3, 6, 9, 34, 45, 45, 76, 76, 123, 234, 890, 7945]

In [35]:
l = [3, 6, 9,20.5, 34, 45, 45, 76, 76, 123, 234, 890, 7945]
l.sort()
print(l)
#Int and float are number types so they are compatible with sorting

[3, 6, 9, 20.5, 34, 45, 45, 76, 76, 123, 234, 890, 7945]

In [36]:
#If we do the same with the str
l = [3, 6, 9,20.5, 34, 45, 'Hi', 76, 76, 123, 234, 890, 7945]
l.sort()
print(l)

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
#It'll give type error
#can't compare str to any numerical value
#'<' not supported between instances of 'str' and 'int'

## Multiple references

In [40]:
l1 = [1,2,3,4,5]
l2 = l1
#l1 and l2 is referencing same memory state . so if i change in l2 , l1 also changes
l2.append(6)
print(l1)

[1, 2, 3, 4, 5, 6]

In [46]:
l3 = []
for ele in l1:
    l3.append(ele)
print('l3: ',l3)


l4 = l3
l4.append('check')
print('l3: ',l3)
print('l4: ',l4)
#Even if we split and arrange each element from old to new list the memory reference

l3:  ['cdnjwdc', 2, 3, 4, 5, 6]
['cdnjwdc', 2, 3, 4, 5, 6]
['cdnjwdc', 2, 3, 4, 5, 6]

"\nl4 = l3\nl4.append('check')\nprint('l3: ',l3)\nprint('l4: ',l4)\n#Even if we split and arrange each element from old to new list the memory reference \n"

## Str split to create a list

In [52]:
s = 'cwui cwdcbhu hcdj wed weduioend weiofnd'
print('Type of s : ',type(s))
print('After split')
l = s.split(' ')
#s.split() also works coz default param for split is a white space
print(l)
print('Type of l : ',type(l))

Type of s :  <class 'str'>
After split
['cwui', 'cwdcbhu', 'hcdj', 'wed', 'weduioend', 'weiofnd']
Type of l :  <class 'list'>

In [53]:
l[-1]
#last element

'weiofnd'

## Slicing

In [55]:
l = [1,2,3,4,65,76,86,890,8,5,56,89]
print(l[:])#Prints all the NOs

[1, 2, 3, 4, 65, 76, 86, 890, 8, 5, 56, 89]

In [59]:
print(l[0:4])#from start to end-1 will be printed
#list[start:end] -> means from 0th index to 3rd index (4-1 = 3) print all values of list in that corresponding index

[1, 2, 3, 4]

In [60]:
#like range() list slicing also has start:end:step

In [61]:
print(l[::2])
#from first element to last element print by step size 2

[1, 3, 65, 86, 8, 56]

In [63]:
l1 = [1,2,3,4]
l2 = ['hi','hello','Karthik','You are Awesome']
a = l1 + l2
print(a)
#Two lists are combined using extend() function

[1, 2, 3, 4, 'hi', 'hello', 'Karthik', 'You are Awesome']

In [64]:
l = [1,2,34,1,2,45,71,56,1,6,8,1,5,7]
print(l.count(1))
#Prints the NO of times 1 occur in the given list

4

## Looping

In [65]:
for ele in l:
    print(ele)

1
2
34
1
2
45
71
56
1
6
8
1
5
7

In [66]:
#Without list comprehension
squares = []
for i in range (10):
    squares.append(i**2) #List append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [67]:
#Using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
l = [-10,-20,10,20,50]
new_l = [i*2 for i in l]
print(new_l)

new_l = [i for i in l if i >= 0]
print(new_l)


#Creating list of tuples
new_l = [(i,i**2) for i in range(10)]
print(new_l)


#Creating list of lists
new_l = [[i,i+2] for i in l if i >=0]
print(new_l)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]
[[10, 12], [20, 22], [50, 52]]

In [70]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]
#Finding transpose of A matrix
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [81]:
#With list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]