# Operators

Special characters which carry out arithmatic or logical computation. The value that the operator operates on is called the `Operand`

## Operator types

<ol>
  
  <li>Arithmatic</li>
  <li>Comparison</li>
  <li>Logical</li>
  <li>Bitwise</li>
  <li>Assignment</li>
  <li>Special</li>
</ol>

## ARITHMATIC

In [1]:
x,y = 11,21
print(x+y)

32

In [2]:
print(x-y)

-10

In [3]:
print(x*y)

231

In [4]:
print(x/y)

0.5238095238095238

In [5]:
print(x%2)

1

In [6]:
print(15/2)

7.5

In [7]:
print(15//2)
#Floor operation

7

In [8]:
print(-15//2)
#Floor operation for nefative numbers give smallest number .. in negative series -8 is smaller tham -7 so gives -8

-8

In [9]:
print(2**3)
#Exponent operator

8

## COMPARISON

In [10]:
a,b = 10,20
print(a<b)

True

In [11]:
print(a>b)

False

In [12]:
print(a==b)

False

In [13]:
print(a!=b)

True

In [14]:
print(a>=b)

False

In [15]:
print(a<=b)

True

## LOGICAL

In [16]:
a,b = True,False

In [17]:
print(a and b)

False

In [18]:
print(a or b)

True

## BITWISE

In [19]:
a,b = 10,4
'''
a = 10 => 2**3 + 2**1

Binary value is : 1010

b = 4 => 2**2

Binary value is : 0100


'''

'\na = 10 => 2**3 + 2**1\n\nBinary value is : 1010\n\nb = 4 => 2**2\n\nBinary value is : 0100\n\n\n'

In [20]:
print(a&b)
'''
1010 
    &
0100
______

0000
______

'''

0

'\n1010 \n    &\n0100\n______\n\n0000\n______\n\n'

In [21]:
print(a|b)
'''
1010 
    |
0100
______

1110
______

'''

14

'\n1010 \n    |\n0100\n______\n\n1110\n______\n\n'

In [22]:
~a
#it's called the bitwise complement operator

-11

## ASSIGNMENT

In [23]:
a = 10

In [24]:
a += 10

In [25]:
print(a)

20

## SPECIAL

## Identity operators

In [26]:
a =3
b=3
print(a is b)
# a and b points to same object so it's true

True

In [27]:
a =3
b=3
print(a is not b)

False

In [28]:
a = [1,2,3]
b = [1,2,3]
print(a is b)
#Identity operators are not true for lists

False

In [29]:
a = 'Karthik'
b = 'Karthik'
print(a is b)
#Works for string

True

## Membership

In [30]:
l1 = [1,2,3,4]
print(1 in l1)
#Checks for 1 in list and if it's there give True

True

In [31]:
d = {1:'abc',2:'def'}

In [32]:
print(1 in d)

True

In [33]:
#Since 1 is the key in dictionary it prints True

In [34]:
print('abc' in d)

False

In [35]:
#We can only check in the keys ... Not in the values

In [36]:
print(2 in d)

True

In [37]:
#Coz 2 is a key