## Sets

In [1]:
#Unordered collection of items, can't be indexed , mutable, 
# commonly used to perform math operations like set union, set intersection, symmetric differences etc.

## Creation

In [2]:
s = {1,2,3}

In [3]:
s

{1, 2, 3}

In [4]:
type(s)

set

In [5]:
#Set don't allow duplicate elements

In [6]:
s = {1,1,1,1,1,1,1,2,3}

In [7]:
s

{1, 2, 3}

In [8]:
#Set from list
s = set([1,2,3,4])

In [9]:
s

{1, 2, 3, 4}

In [10]:
#Empty set
s = set()

In [11]:
type(s)

set

In [12]:
s = {1,2,3}

In [13]:
s[0]
#Set is unordered so dosen't support indexing

TypeError: 'set' object does not support indexing

In [14]:
s.add(5)
#Sets are mutable , so we can add elements

In [15]:
s

{1, 2, 3, 5}

In [16]:
s.update([6,7,8,9])
#Add multiple elements

In [17]:
s

{1, 2, 3, 5, 6, 7, 8, 9}

In [18]:
s.update({10,11},[12,13,14])

In [19]:
s

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

## Remove element

In [20]:
s = {1,3,5,4,2}

In [21]:
s #Set is ordered so the elements inside are in ascending

{1, 2, 3, 4, 5}

In [22]:
s.discard(4)

In [23]:
s

{1, 2, 3, 5}

In [24]:
s.remove(2)

In [25]:
s

{1, 3, 5}

In [26]:
s.remove(7)
#Gives key error coz remove can't find element 7 in set

KeyError: 7

In [27]:
#So whats the diff. bet. remove and discard

In [28]:
s.discard(7)

In [29]:
#Discard dosen't throw an error even if the element is not in the set

In [30]:
s

{1, 3, 5}

In [31]:
s={1,2,3,4,5}

In [32]:
s.pop() # removes random element

1

In [33]:
s.pop()

2

In [34]:
s

{3, 4, 5}

In [35]:
s.clear()
#Remove all the elements in a set

In [36]:
s

set()

## Operations

In [37]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

In [38]:
print(set1 | set2)
#Set1 union set2

{1, 2, 3, 4, 5, 6, 7}

In [39]:
#Can also do by
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [40]:
print(set1 & set2)
#set1 intersection set2

{3, 4, 5}

In [41]:
#Can also do by
set1.intersection(set2)

{3, 4, 5}

In [42]:
set1 - set2
#Set difference

{1, 2}

In [43]:
#Symmetric difference
'''
Symmetric difference means , 
Set of elements in both set1 and set2 
but excluding the common elements

We use ^ operator
'''


set1^set2
#3,4,5 is in both set1 and set2 so excluded

{1, 2, 6, 7}

In [44]:
set1 = {'a','b','c','d','e'}
set2 = {'c','d'}

In [45]:
set1.issubset(set2)

False

In [46]:
set2.issubset(set1)

True

## Frozen set

In [47]:
#Immutable sets -> can't change one assigned a value
'''
we can't use set as a key in dict coz sets are unhashable
but we can use frozen set as a key in dict coz frozen set is hashable... 
created using the function frozenset()
don't have methods to add or remove elements
'''

set1 = frozenset([1,2,3,4])
set2 = frozenset([3,4,5,6])
#trying to add element into the set1
set1.add(5)
#It will give error

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
set1[0]
#dosen't support indexing just like regular sets

In [48]:
set1 | set2

frozenset({1, 2, 3, 4, 5, 6})

In [49]:
set1 & set2

frozenset({3, 4})

In [50]:
set1 ^ set2

frozenset({1, 2, 5, 6})