## Tuples

In [1]:
#Like list
#Tuple -> Immutable( can't change element )
#List -> mutable ( can change element )

In [2]:
t = ()

In [3]:
type(t)

tuple

In [4]:
t = (1,2,3) #int

In [5]:
t = (1,4,'dbgf') #Mixed datatypes

In [6]:
t = (1,[2,3,'45'],(9,78,6)) #Nested tuples

In [7]:
#Only paranthesis is not enough 
t = ('Karthik')

In [8]:
type(t)
#Instead of tuple it says str

str

In [9]:
#We need to add a comma at the end
t = ('Karthik',)

In [10]:
type(t)

tuple

In [11]:
#Paranthesis is optional
t = 'Karthik',

In [12]:
type(t)

tuple

In [13]:
t = 'Karthik','Muthu','Santhi',

In [14]:
type(t)

tuple

In [15]:
#When you have one element in a tuple python will think of that as a str. so a comma is needed

## Accessing elements in a tuple

In [16]:
t = (1,2,3,4,5,6,7)
print(t[1])

2

In [17]:
print(t[-1])

7

In [18]:
#Nested tuples
t = ('abc',('def','ghi',)) #While ('def','ghi',) is the second element
print(t[1])
print(t[1][0])

('def', 'ghi')
def

In [19]:
#Slicing
t = (1,2,3,4,5,6,7)
t[1:5]

(2, 3, 4, 5)

In [20]:
t[:-2]

(1, 2, 3, 4, 5)

In [21]:
t[:]

(1, 2, 3, 4, 5, 6, 7)

# Changing tuple

In [22]:
t = (1,2,3,[4,5,6])
t[0] = 9 #Gives error coz tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [23]:
t[3][1] = 'Karthik' #It allows to change coz a list is mutable
#If an element in a tuple is mutable tuple allows it to change itself

In [24]:
t

(1, 2, 3, [4, 'Karthik', 6])

In [25]:
t1 = (1,2,3)
t2 = (4,5,6)
t=t1+t2
print(t)

(1, 2, 3, 4, 5, 6)

In [26]:
t = 'karthik', # multiple operator in tuples create repetition
t*4

('karthik', 'karthik', 'karthik', 'karthik')