## Tuple deletion

In [1]:
t = (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [2]:
del t

In [3]:
t

NameError: name 't' is not defined

## Count

In [4]:
t = 1,2,1,1,12,1,3,1,12,3,1,2,3,211,1,1

In [6]:
t.count(1) #Tells how many times 1 occur

8

## Index

In [7]:
t.index(3)

6

In [8]:
#Returns the index where 3 occurs first in the tuple

## Membership

In [10]:
1 in t
#number 1 exist in t so it returns true

True

In [11]:
2311 not in t

True

## Built-in Functions?

In [12]:
len(t)

16

In [15]:
new_t = sorted(t)
new_t

[1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 12, 12, 211]

In [16]:
max(t)

211

In [17]:
min(t)

1

In [18]:
sum(t)

256