# Variable

It's a location in memory used to store some data(value) . It has same rules as identifiers

# Variable assignments

In [1]:
#We use assignment operator(=) to assign the variables
a=10
b=3.3
c='ML'

# Multiple assignments

In [2]:
a ,b ,c = 10,3.3,'ML'

In [3]:
a = b = c = 'AI'

# Storage Locations

In [4]:
x =3
print(id(x))                      #id(var_name) gives location of that var_name in memory

94733155283904

In [5]:
y = 3
print(id(x))

94733155283904

In [7]:
#Both values are same coz python tries to reuse the memory
#If i change the value of y it will be changed

In [8]:
y = 5
print(id(y))

94733155283968

In [9]:
# 94733155283904 != 94733155283968

# Data types

Every value in python has a datatype. Since everything in python is a object, data types are actually classes and variables are instance(object) of these classes.

In [10]:
a = 5
print(a, ' is type of ',type(a))

5  is type of  <class 'int'>

In [11]:
#It says class int ... not type int

In [12]:
a = 5.5
print(a, ' is type of ',type(a))

5.5  is type of  <class 'float'>

In [13]:
a = 5 + 2j
print(a, ' is type of ',type(a))

(5+2j)  is type of  <class 'complex'>

In [14]:
#isinstance is used to check the type of the variable

In [15]:
isinstance(a,complex)

True

In [16]:
#It gives true coz a is a comoplex number

# Boolean

Boolean represents the truth values. Ex: True,False

In [17]:
a = True
print(type(a))

<class 'bool'>

# Strings

String is a sequence of `unicode characters` not ASCII characters. We can use single or double quotes to represent a string. Multi lined strings are denoted using ''' or """. Can store non-english characters.It is indexed and can be subscripted. Similar to C the first character of a string has the index 0.

In [19]:
s = 'I Learned Everything from this course'
print(s)
print(type(s))

I Learned Everything from this course
<class 'str'>

In [21]:
s = '''I Learned 
Everything from 
this course'''
print(s)
print(type(s))
#Multi lined string

I Learned
Everything from
this course
<class 'str'>

In [22]:
print(s[0])

I

In [28]:
print(s[5])
#Print 6th element [Py index starts at 0]

r

In [24]:
#Printing last character
print(s[len(s)-1])

e

In [25]:
#Or simply
print(s[-1])

e

In [26]:
#Slicing in a string
s[5:]
#Says from 5 to end print everything

'rned \nEverything from \nthis course'

In [29]:
s[5:10]
#Prints 5th to 9th character

'rned '

# Lists

It's an ordered sequence of items. Most used data type in python and is very flexible. We can add different data types.

In [31]:
a = [10,20.5,'Hello']
print(a[1])#Prints index 1

20.5

In [32]:
a[1] = 'Changed value'

In [33]:
a

[10, 'Changed value', 'Hello']

# Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [1]:
t = (1,1.5,'ML')

In [3]:
print(t[1])
#Particular element extraction

1.5

In [4]:
t[1] = 2
#Can't change coz Tuple is immutable

TypeError: 'tuple' object does not support item assignment

# Sets

It's an unordered collection of `Unique items`. Values are defined inside {} with seperator of comma(,)

In [5]:
a = {1,2,3,4,5,6}

In [7]:
print(a)

{1, 2, 3, 4, 5, 6}

In [8]:
#Set behaves like a set in mathematics

In [9]:
print(type(a))

<class 'set'>

In [10]:
s = {1,2,2,3,3,3}

In [11]:
print(s)

{1, 2, 3}

In [12]:
#Set only stores unique values

In [13]:
print(s[1])

TypeError: 'set' object does not support indexing

In [14]:
#Gives error coz set is an unordered collection

# Dictionary

Dictionary is an `unordered collection of key-value pair`

It's like storing a small table. (Like a Hash tables). Just like sets dictionary's keys and values are also defined inside {} with seperator of comma(,)

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [15]:
d = {'a':'apple','b':'bat'}

In [16]:
print(d['a'])

apple

In [17]:
'''
As soon as we create d = {'a':'apple','b':'bat'} 
What python does is it creates a table like...


a apple
b bat


a,b => Keys
apple,bat => values

we can access the element(Value) by passing key as an argument to the dictionary name

Ex: d['a'] gives apple

'''

"\nAs soon as we create d = {'a':'apple','b':'bat'} \nWhat python does is it creates a table like...\n\n\na apple\nb bat\n\n\na,b => Keys\napple,bat => values\n\nwe can access the element(Value) by passing key as an argument to the dictionary name\n\nEx: d['a'] gives apple\n\n"

In [18]:
print(d['c'])

KeyError: 'c'

In [19]:
#It gives type error because Key value 'c' dosen't exist in the dictionary(Not in the table)

# Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [20]:
float(12)

12.0

In [22]:
int(12.84)

12

In [23]:
str(34)

'34'

In [24]:
int('12sp')

ValueError: invalid literal for int() with base 10: '12sp'

In [25]:
# Can't convert coz we gave an invalid literal
#Means that if we convert it's not a number (12sp is not a number)

In [27]:
int('12')

12

In [28]:
user = 'Karthik'
lines = 100
print('Congradulations, '+user+'! you just wrote '+str(lines)+' lines of code')

Congradulations, Karthik! you just wrote 100 lines of code

In [29]:
user = 'Karthik'
lines = 100
print('Congradulations, '+user+'! you just wrote '+lines+' lines of code')

TypeError: can only concatenate str (not "int") to str

In [30]:
#To avoid this Type Error we change int to str and then print it.

In [33]:
a = [12,12,12,13,14]
print('List is :',a)
s = set(a)
print('Set is :',s)

List is : [12, 12, 12, 13, 14]
Set is : {12, 13, 14}

In [34]:
list('Hi Karthikeyan')

['H', 'i', ' ', 'K', 'a', 'r', 't', 'h', 'i', 'k', 'e', 'y', 'a', 'n']