In [1]:
#Find largest No in list

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import random

In [5]:
l = list(range(100))

In [6]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [7]:
random.shuffle(l)

In [8]:
l #Not sorted

[44,
 34,
 95,
 10,
 40,
 18,
 85,
 73,
 79,
 20,
 92,
 23,
 90,
 37,
 28,
 97,
 32,
 30,
 33,
 98,
 1,
 22,
 0,
 21,
 78,
 47,
 60,
 6,
 80,
 25,
 12,
 46,
 27,
 4,
 7,
 94,
 89,
 72,
 91,
 58,
 35,
 93,
 45,
 17,
 14,
 3,
 69,
 81,
 11,
 83,
 5,
 86,
 51,
 96,
 52,
 82,
 99,
 2,
 56,
 43,
 62,
 54,
 64,
 61,
 71,
 75,
 55,
 76,
 13,
 39,
 16,
 53,
 65,
 84,
 50,
 31,
 48,
 9,
 66,
 87,
 70,
 68,
 29,
 26,
 77,
 59,
 36,
 67,
 8,
 49,
 57,
 88,
 41,
 63,
 74,
 19,
 24,
 15,
 38,
 42]

In [9]:
num = 31
isFound = False
for n in l:
    if n == num:
        print('Found')
        isFound = True
        break
if isFound == False:
    print('Not found')

Found

In [10]:
'''
Take above code as example,

if each line takes 1 unit of time to run 
The overall time taken will be

4n + 4

(n comes here coz for loop runs n time)


If u ignore the constants the computational complexity is 0(n)...

Same like this we have 0(n squared), 0(log n)
 etc
 '''

'\nTake above code as example,\n\nif each line takes 1 unit of time to run \nThe overall time taken will be\n\n4n + 4\n\n(n comes here coz for loop runs n time)\n\n\nIf u ignore the constants the computational complexity is 0(n)...\n\nSame like this we have 0(n squared), 0(log n)\n etc\n '